# Environment
.env
.env.local
.env.*.local

# Frontend
frontend/node_modules
frontend/dist

# Backend (Maven)
backend/target

# IDE
.idea
.vscode/*
!.vscode/extensions.json
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log
